@import url("https://fonts.google.com/specimen/Poppins");
@import url("https://fonts.google.com/specimen/Open+Sans");

:root {
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: white;
}

body {
    margin: 30px 50px 0;
    padding: 10px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    font-family: 'Open Sans', sans-serif;
    background: var(--primary-color);
    background-image: url('/images/bg-desktop.svg');
    background-size: contain;
    color: var(--secondary-color);
}
.header {
    grid-row: 1 / 2;
}

.header__logo {
    background-repeat: no-repeat;
}

.main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.main__left-section {
    grid-column: 1 / 2;
}

.main__right-section {
    grid-column: 2 / 3;
}

.main__img {
    width: 100%;
}

.main__title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
}

.main__text {
    font-size: 1.3em;
    line-height: 1.5;
    font-weight: 400;
}

.main__btn-register {
    padding: 10px 45px;
    background: white;
    font-size: 1em;
    color: var(--primary-color);
    border-style:  none;
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-right: 35px;
}

.footer__icons li {
    list-style: none;
    margin-right: 20px;
}

.fab {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 0.6em;
    border-radius: 50%;
    border: 1px solid;
}

.fab:before{
    vertical-align: -90%;
}

@media screen and (max-width: 500px) {
    body {
        background-image: url('/images/bg-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 1fr;
    }
}